.connexion {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  main {
    max-width: 800px;
    background-color: $fourth;
    width: 80%;
    text-align: center;
    margin: 1rem;
    box-shadow: 0 0 15px $black;

    .butt-top-connect {
      float: right;
      padding: 0.5rem;
      margin: 1rem;
      border-radius: 10px;
      border: 2px $first solid;
      background-color: $first;
      font-weight: 600;
    }

    h3 {
      margin-top: 5rem;

      & + p {
        margin: 0.5rem 3rem;
      }
    }
  }
}
